@page
@model self_promo_shawn.Pages.Admin.Experiences.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.IsProfessional)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.IsProfessional)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Experience?.ExperienceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
